@media (max-width:765px) {
    .mailing {
        padding-top: 32px;
        flex-direction: column;
        height: 466px;
        overflow: hidden;

        &__form {
            margin-top: 16px;
        }

        &__input {
            width: 296px;
            height: 50px;
        }

        &__btn {
            width: 200px;
            height: 50px;
        }

        &__heading,
        &__input {
            font-size: 16px;
        }

        &__img {
            width: 296px;
            // height: 150px;
            // object-fit: cover;
        }
    }

    .requirements{
        flex-direction: column;
        gap: 32px;
    }
}

@media (max-width:720px) {
    .center {
        padding-left: 12px;
        padding-right: 12px;
    }

    .logo {
        width: 75px;
        height: 30px;
    }

    .menu {
        display: none;

        &-mobile {
            display: flex;
            justify-content: space-between;

            &__link {
                font-size: 16px;
                font-weight: 700;
            }
        }
    }

    .header {
        display: block;

        &__left {
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            border-bottom: 1px solid #C4C4C4;
            padding-bottom: 20px;
            // gap: 20px;
        }

        &__btn {
            display: none;

            &--mobile {
                display: flex;
                align-self: flex-start;
            }
        }
    }

    .title {
        font-size: 35px;
    }

    .prime {
        flex-direction: column;

        &__btn-bg {
            width: 132px;
            height: 50px;
            font-size: 16px;
            margin-right: 0;
            margin-bottom: 16px;
        }

        &__btn-br {
            width: 164px;
            height: 50px;
            font-size: 16px;
        }

        &__wrap {
            margin-right: 0;
            padding-bottom: 64px;
        }

        &__picture {
            width: 100vw;
        }

        &__img {

            width: 100vw;
        }
    }

    .heading {
        font-size: 30px;
    }

    .auction {
        padding-top: 80px;
        display: block;
        padding-bottom: 80px;

        &__text--red {
            font-size: 12px;
            padding: 0 10px;
        }

        &__img {
            width: 320px;
            height: 320px;
        }

        &__content-wrap {
            flex-direction: column;
            align-items: center;
        }

        &__author {
            width: 170px;
            gap: 8px;

        }

        &__name {
            font-size: 16px;
        }

        &__ava {
            width: 24px;
            height: 24px;
        }

        &__bet {
            width: 174px;
            padding: 16px;

            &-name,
            &-dollar {
                font-size: 16px;
            }
        }
    }


    .mobile-pagination {
        justify-content: center;
        display: flex;
        margin-top: 16px;
    }

    .product {
        padding-bottom: 80px;

        &-box {
            display: flex;
            justify-content: center;
        }

        &-item--mobile {
            display: none;
        }

        &__link {
            width: 200px;
            height: 50px;
            padding: 7px 20px;
        }
    }

    .top {
        padding-top: 32px;
        padding-bottom: 32px;
    }

    .top__item {
        flex-basis: 132px;
        flex-direction: column;
    }

    .top__img {
        transform: rotate(90deg);
    }

    .top__heading {
        font-size: 30px;
        margin-bottom: 16px;
    }

    .top__subtitle {
        font-size: 20px;
    }

    .top__price {
        font-size: 12px;
    }
    .top{
        padding-top: 32px;
        padding-bottom: 32px;
    }
    .top__item{
        flex-basis: 132px;
        flex-direction: column;
    }
    .top__img{
        transform: rotate(90deg);
    }
    .top__heading{
        font-size: 30px;
        margin-bottom: 16px;
    }
    .top__subtitle{
        font-size: 20px;
    }
    .top__price{
        font-size: 12px;
    }

}

@media (max-width:500px) {
    .new {
        padding-top: 32px;
        padding-bottom: 64px;

        &__img {
            width: 132px;
            height: 132px;
        }

        &__number {
            margin-top: 32px;
        }

        &__pagination {
            gap: 12px;
        }

        &__number {
            width: 36px;
            height: 28px;
            font-size: 12px;
        }

        &__heading-img {
            width: 24px;
        }

        &__wrap-head {
            gap: 8px;
        }
    }

    .requirements__img {
        width: 296px;
    }

    .requirements__heading {
        font-size: 20px;
    }

    .requirements__text {
        font-size: 16px;
    }

    .requirements__img{
        width: 296px;
    }
    .requirements__heading{
        font-size: 20px;
    }
    .requirements__text{
        font-size: 16px;
    }
    .footer-top{
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }

    .footer-top__link{
        font-size: 16px;
    }
}